<link rel="stylesheet" href="/assets/css/font-awesome/css/font-awesome.css">

<div class="background">
  <div class="title"><img width="80%" src="/assets/images/heading.png"></div>
  <h1 class="sub-title">Ladies Designers</h1>

    <div class="about-content">
        We customize clothings the way you desire.<br />We provide customized dresses especially designer bridal blouse, Embroidery neck designs and any of the latest blouse
        designs.

    </div>
        <h3>Specialized in</h3>
        <h4 class="content">
Bridal Blouse, Designer Chudidhars, Fancy salwar, Party Lehenga choli, Western Gown, frock
for kids, School uniforms, uniform Coats, Pinoforms etc.
        </h4>
    <div class="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62646.92213492374!2d76.96945466018887!3d11.081098663512197!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba858428bea4309%3A0x512ad1fbdaf94864!2sAngel%20dresses!5e0!3m2!1sen!2sin!4v1585404894168!5m2!1sen!2sin"
            width="80%" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>
    </div>
    <h2 class="address">
        No. 275, First Floor, GPK Building, Sathy Road, Ganapathy, Coimbatore- 641006 <br />
        Phone: &nbsp; 9043800600 &nbsp; 9786800600 <br />
        Email: &nbsp; angeldesignersganapathy@gmail.com
    </h2>
    <div class="footer tooltip">
        Follow us on <br />
        <a href="https://www.instagram.com/angel_dresses_ganapathy/"><img width="25px" height="25px" style="border-radius: 6px;" src="/assets/images/insta.jpeg"></a>
        <img width="25px" height="25px" style="border-radius: 6px;" src="/assets/images/whatsapp.png">
        <span class="whatsapp">
            9043800600
        </span>
    </div>
</div>


{{outlet}}

