<div class="blouse">
    <img width="500px" height="500px" src="/assets/images/blouse.jpeg">
    <img width="500px" height="500px" src="/assets/images/bridal.jpg">
    <img width="500px" height="500px" src="/assets/images/mugurtham.png">

</div>
{{outlet}}