<div class="bridal">
    <img width="500px" height="500px" src="/assets/images/kidsethnic.jpeg">
    <img width="500px" height="500px" src="/assets/images/kidsfrock.jpeg">
    <img width="500px" height="500px" src="/assets/images/dancedress.jpeg">
</div>
{{outlet}}