<div class="uniform">
    <img width="500px" height="500px" src="/assets/images/schooluniform.jpeg">
    <img width="500px" height="500px" src="/assets/images/pinoform.jpeg">
    <img width="500px" height="500px" src="/assets/images/medicaluniform.jpeg">
    <img width="500px" height="500px" src="/assets/images/medicalcoat.jpeg">

</div>
{{outlet}}